@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #0f0f0f;
}

a,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  width: 100%;
  padding: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 12px;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
.button_primary {
  background-color: #5dbd20;
}
.button_primary:hover {
  background-color: #08870c;
}
.button_primary:active {
  background-color: #0a9e0f;
}
.button_secondary {
  background-color: #2a2a2a;
}
.button_secondary:hover {
  background-color: #222222;
}
.button_secondary:active {
  background-color: #282828;
}

.container {
  margin: 0 auto;
  max-width: 576px;
  max-width: 430px;
  padding: 0 20px;
  box-sizing: border-box;
}

.points {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin: 0 0 10px;
  padding: 10px 16px;
  border-radius: 12px;
  background-color: #222222;
}
.points_primary {
  background-color: #ff5900;
}
.points_secondary {
  background-color: #1751ff;
}
.points__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 36px;
  height: 36px;
  border-radius: 34px;
  background-color: rgba(0, 0, 0, 0.2);
}
.points__icon-image {
  display: block;
  max-width: 100%;
  width: 23px;
  height: auto;
}
.points__title {
  flex: 1 1 auto;
  max-width: calc(100% - 140px);
  overflow: hidden;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.points__value {
  flex: 1 0 auto;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-align: right;
}
.points__info-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 8px;
  color: #fff;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.points__modal {
  display: none;
}
.points__modal:has(.modal) {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 1px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
}
.notification__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  max-width: 196px;
  width: 100%;
  padding: 10px 24px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  border-radius: 12px;
  background-color: #2e2e2e;
}
.notification__item::before {
  content: "";
  display: block;
  height: 18px;
  width: 18px;
  background: url(../assets/icons/wavy_check.svg) center/cover no-repeat;
}
.notification__item_success {
  color: #60bf20;
}
.notification__item_success::before {
  background-image: url(../assets/icons/wavy_success.svg);
}
.notification__item_warning {
  color: #ff2e31;
}
.notification__item_warning::before {
  background-image: url(../assets/icons/wavy_warning.svg);
}

.connect-wallet {
  margin: 82px 0 0;
}
.connect-wallet__content {
  padding: 20px 20px 30px;
  border-radius: 16px;
  background: #2e2e2e;
}
.connect-wallet__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.connect-wallet__title::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/circle_warning.svg) center/cover no-repeat;
}
.connect-wallet__subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.connect-wallet__copy {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: url(../assets/icons/copy.svg) center/cover no-repeat;
  cursor: pointer;
}
.connect-wallet__actual {
  position: relative;
  margin: 6px 0 0;
}
.connect-wallet__actual-input {
  display: block;
  min-height: 48px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #252525;
}
.connect-wallet__actual-copy {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.connect-wallet.active .connect-wallet__actual::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background: url(../assets/icons/check-md.svg) center/8px no-repeat;
  background-color: #5dbd20;
  transform: translateY(-50%);
  cursor: pointer;
}
.connect-wallet.active .connect-wallet__actual-copy {
  display: none;
}
.connect-wallet__next {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-in-out 0.5s;
}
.connect-wallet__next > *:first-child {
  padding-top: 10px;
}
.connect-wallet.active .connect-wallet__next {
  max-height: 1000px;
}
.connect-wallet__sum {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 6px 0 10px;
  padding: 10px;
  background-color: #252525;
}
.connect-wallet__sum-value {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.connect-wallet__sum-value::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background: url(../assets/logo.svg) center/20px no-repeat;
  background-color: #ff5900;
}
.connect-wallet__sum-copy {
  flex: 0 0 auto;
}
.connect-wallet__target {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 10px;
  margin: 6px 0 0;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #252525;
}
.connect-wallet__target-code {
  flex: 1 1 auto;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.connect-wallet__target-copy {
  flex: 0 0 auto;
}
.connect-wallet__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0 0;
}
.connect-wallet__buttons-next {
  display: block;
}
.connect-wallet__buttons-next .active {
  display: none;
}
.connect-wallet__buttons-check {
  display: none;
}
.connect-wallet__buttons-check .active {
  display: block;
}
.connect-wallet.active .connect-wallet__buttons-next {
  display: none;
}
.connect-wallet.active .connect-wallet__buttons-check {
  display: block;
}

.main {
  margin: 0 auto;
  max-width: 576px;
}

.main-page {
  min-height: 100dvh;
  padding: 20px 0 98px;
  box-sizing: border-box;
}
.main-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin: 0 0 20px;
}
.main-page__wallets {
  position: relative;
  width: fit-content;
}
.main-page__wallets.active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  cursor: pointer;
}
.main-page__wallets-current {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 6px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  user-select: none;
  cursor: pointer;
}
.main-page__wallets-current::before {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 24px;
  aspect-ratio: 1/1;
  background: url(../assets/logo.svg) center/cover no-repeat;
}
.main-page__wallets-current::after {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 16px;
  aspect-ratio: 1/1;
  background: url(../assets/icons/dropdown-sm.svg) center/6px no-repeat;
  transition: transform ease-in-out 0.2s;
  will-change: transform;
}
.active .main-page__wallets-current::after {
  transform: rotate(180deg);
}
.main-page__wallets-menu {
  position: absolute;
  top: calc(100% + 6px);
  z-index: 100;
  display: block;
  max-width: 210px;
  width: 210px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  backdrop-filter: blur(30px);
  background: rgba(30, 30, 30, 0.9);
  pointer-events: none;
  opacity: 0;
  transition: opacity ease-in-out 0.1s;
  will-change: opacity;
}
.active .main-page__wallets-menu {
  opacity: 1;
  pointer-events: all;
}
.main-page__wallets-menu-item {
  padding: 6px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
}
.main-page__wallets-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.02);
}
.main-page__wallets-menu-item:last-child {
  border: none;
}
.main-page__wallets-menu-wallet, .main-page__wallets-menu-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  width: 100%;
  padding: 4px 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.main-page__wallets-menu-wallet::before, .main-page__wallets-menu-add::before {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 24px;
  aspect-ratio: 1/1;
  background: url(../assets/logo.svg) center/cover no-repeat;
}
.main-page__wallets-menu-wallet::after, .main-page__wallets-menu-add::after {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 16px;
  aspect-ratio: 1/1;
}
.main-page__wallets-menu-wallet {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.main-page__wallets-menu-wallet.active {
  color: #6a6a6a;
}
.main-page__wallets-menu-wallet.active::after {
  background: url(../assets/icons/check.svg) center/cover no-repeat;
}
.main-page__wallets-menu-wallet-name {
  flex: 1 1 auto;
  max-width: calc(100% - 50px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}
.main-page__wallets-menu-add {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
}
.main-page__wallets-menu-add::after {
  background: url(../assets/icons/add_plus_circle.svg) center/cover no-repeat;
}
.main-page__wallets-menu-add-text {
  flex: 1 1 auto;
  max-width: calc(100% - 50px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}
.main-page__login {
  flex: 0 0 auto;
}
.main-page__login-button {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  border-radius: 8px;
  background-color: #1e1e1e;
  outline: none;
}
.main-page__login-button::before {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 14px;
  aspect-ratio: 1/1;
  background: url(../assets/icons/logo-x.svg) center/cover no-repeat;
}
.main-page__info {
  display: block;
  margin: 0 0 10px;
  overflow: hidden;
  border-radius: 12px;
  background: linear-gradient(141deg, #6ec823 4.54%, #08870c 100%);
}
.main-page__info-connect-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100%;
  padding: 50px 16px;
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  border: none;
  background-color: rgba(110, 200, 35, 0);
  outline: none;
  cursor: pointer;
}
.active .main-page__info-connect-button {
  display: none;
}
.main-page__info-connect-button::after {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 24px;
  aspect-ratio: 1/1;
  background: url(../assets/icons/arrow_circle_up.svg) center/cover no-repeat;
}
.main-page__info-wallet {
  display: none;
  padding: 16px;
}
.active .main-page__info-wallet {
  display: block;
}
.main-page__info-wallet-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 0 0 10px;
}
.main-page__info-wallet-id {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 6px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.main-page__info-wallet-id::after {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 16px;
  aspect-ratio: 1/1;
  background: url(../assets/icons/copy.svg) center/cover no-repeat;
}
.main-page__info-wallet-more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  background-color: #5dbd20;
  outline: none;
  cursor: pointer;
}
.main-page__info-wallet-more::before {
  content: "";
  display: block;
  flex: 0 0 auto;
  height: 16px;
  width: 4px;
  background: url(../assets/icons/more.svg) center/cover no-repeat;
}
.main-page__info-wallet-coins {
  font-weight: 800;
  font-size: 32px;
  line-height: 128%;
  color: #fff;
}
.main-page__info-wallet-balance {
  font-weight: 600;
  font-size: 14px;
  color: #a3ff57;
}
.main-page__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-page__nav-link {
  position: relative;
  display: block;
  height: 180px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.main-page__nav-link-title {
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: calc(100% - 30px);
  padding: 7px 12px;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  backdrop-filter: blur(30px);
  background: rgba(36, 36, 36, 0.6);
}
.main-page__nav-link-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vote-page {
  min-height: 100dvh;
  padding: 20px 0 98px;
  box-sizing: border-box;
}
.vote-page__info {
  margin: 20px 0 10px;
  padding: 6px;
}
.vote-page__info-title {
  margin: 0 0 6px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.vote-page__info-disclaimer {
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #1751ff;
}
.vote-page__info-disclaimer::before {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  background: url(../assets/icons/wavy_check.svg) center/cover no-repeat;
}
.vote-page__info-disclaimer-text {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.vote-page__info-disclaimer-text b {
  font-weight: 700;
}
.vote-page__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.vote-page__card {
  padding: 11px 16px;
  border-radius: 12px;
  background-color: #1d1d1d;
}
.vote-page__card-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  cursor: pointer;
}
.vote-page__card-toggler > * {
  pointer-events: none;
}
.vote-page__card-toggler::before {
  content: "$";
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 36px;
  height: 36px;
  border: 1px solid #737d96;
  border-radius: 100px;
}
.vote-page__card-toggler::after {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/dropdown-sm.svg) center/10px no-repeat;
  transition: transform ease-in-out 0.2s;
}
.vote-page__card-toggler-title {
  flex: 1 1 auto;
  overflow: hidden;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vote-page__card-toggler-status {
  display: block;
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #2e2e2e;
}
.vote-page__card-toggler-status_active {
  background: url(../assets/icons/check-md.svg) center/8px no-repeat;
  background-color: #5dbd20;
}
.vote-page__card.active .vote-page__card-toggler::after {
  transform: rotate(180deg);
}
.vote-page__card-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-in-out 0.2s;
}
.vote-page__card-panel-disclaimer {
  padding-top: 10px;
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}
.vote-page__card-panel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 0 0 10px;
  padding: 10px;
  border-radius: 12px;
  background-color: #2e2e2e;
  cursor: pointer;
}
.vote-page__card-panel-item::before {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  border-radius: 30px;
  background-color: #686868;
  transition-property: background-color, background-image;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.vote-page__card-panel-item:has(input[type=checkbox]:checked)::before {
  background: url(../assets/icons/dropdown-sm.svg) center/10px no-repeat;
  background-color: #5dbd20;
}
.vote-page__card-panel-item-input {
  display: none;
}
.vote-page__card-panel-item-name {
  flex: 1 1 auto;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  user-select: none;
}
.vote-page__card-panel-item-points {
  flex: 0 0 120px;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  background: #686868;
  user-select: none;
}

.main-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  backdrop-filter: blur(45px);
  background: rgba(22, 22, 22, 0.85);
}
.main-nav__menu {
  display: flex;
  padding: 0px 20px;
}
.main-nav__menu-link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
  height: 70px;
  padding: 16px 8px;
  box-sizing: border-box;
  transition: background-color ease-in-out 0.2s;
}
.main-nav__menu-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.main-nav__menu-link-icon {
  display: block;
  max-width: 100%;
  width: 24px;
  height: auto;
}
.main-nav__menu-link.active .main-nav__menu-link-icon {
  filter: brightness(10);
}

.referrals {
  min-height: 100dvh;
  padding: 20px 0;
  box-sizing: border-box;
}
.referrals__content {
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25);
  background: #1d1d1d;
}
.referrals__heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 8px;
  padding: 6px;
}
.referrals__heading-title {
  flex: 1 1 auto;
  overflow: hidden;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.referrals__heading-count {
  flex: 0 0 auto;
  padding: 2px 10px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 6px;
  background-color: #ff5900;
}
.referrals__heading-reset {
  flex: 0 0 auto;
}
.referrals__heading-reset-button {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: url(../assets/icons/reload.svg) center/cover no-repeat;
  cursor: pointer;
}
.referrals__points {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 0 0 14px;
  padding: 6px;
}
.referrals__points-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.referrals__points-label::before {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #ff5900;
}
.referrals__points-value {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.referrals__info {
  padding: 10px;
  border-radius: 16px;
  background-color: #2a2a2a;
}
.referrals__info-invite {
  margin: 0 0 14px;
}
.referrals__info-invite-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 12px;
  background: linear-gradient(135deg, #02b0fb 0%, #0263d9 100%);
}
.referrals__info-invite-link::after {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background: url(../assets/icons/telegram-1.svg) center/cover no-repeat;
}
.referrals__info-title {
  margin: 0 0 6px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.referrals__info-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 8px;
  border: 2px solid #4e4e4e;
  border-radius: 12px;
}
.referrals__info-data-link {
  flex: 1 1 auto;
  font-weight: 400;
  font-size: 14px;
  color: #4e4e4e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.referrals__info-data-copy {
  display: block;
  flex: 0 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  border: none;
  background: url(../assets/icons/copy.svg) center/18px no-repeat;
  background-color: #4e4e4e;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  backdrop-filter: blur(30px);
  background: rgba(15, 15, 15, 0.8);
  pointer-events: none;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}
.modal.active {
  pointer-events: all;
  opacity: 1;
}
.modal .container {
  position: relative;
  height: 100%;
  padding: 20px;
}
.modal__body {
  max-height: 100dvh;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-color: #2e2e2e rgba(46, 46, 46, 0.5);
  scrollbar-width: thin;
}
.modal__info {
  margin: 80px 0 0;
  padding: 20px 30px;
  border-radius: 16px;
  background-color: #2e2e2e;
}
.modal__info-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.modal__info-title::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/circle_warning.svg) center/cover no-repeat;
}
.modal__info-text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.modal__info-text_center {
  text-align: center;
}
.modal__controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0);
}