@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #0f0f0f;
}

a,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 12px;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
.button_primary {
  background-color: #5dbd20;
}
.button_primary:hover {
  background-color: #08870c;
}
.button_primary:active {
  background-color: #0a9e0f;
}
.button_secondary {
  background-color: #2a2a2a;
}
.button_secondary:hover {
  background-color: #222222;
}
.button_secondary:active {
  background-color: #282828;
}

.container {
  margin: 0 auto;
  max-width: 576px;
  padding: 0 20px;
}

.main {
  margin: 0 auto;
  max-width: 576px;
}

.main-page {
  padding: 20px 0 98px;
}
.main-page__wallets {
  position: relative;
  width: fit-content;
}
.main-page__wallets.active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.main-page__wallets-current {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 6px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.main-page__wallets-current::before {
  content: "";
  display: block;
  width: 24px;
  aspect-ratio: 1/1;
  background: url(../assets/logo.svg) center/cover no-repeat;
}
.main-page__wallets-menu {
  position: absolute;
  top: calc(100% + 6px);
  z-index: 100;
  display: block;
  max-width: 210px;
  width: 210px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  border-radius: 8px;
  backdrop-filter: blur(30px);
  background: rgba(30, 30, 30, 0.9);
  pointer-events: none;
  opacity: 0;
  transition: opacity ease-in-out 0.1s;
  will-change: opacity;
}
.active .main-page__wallets-menu {
  opacity: 1;
  pointer-events: all;
}
.main-page__wallets-menu-item {
  padding: 6px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-page__wallets-menu-item:last-child {
  border: none;
}
.main-page__wallets-menu-wallet, .main-page__wallets-menu-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  width: 100%;
  padding: 4px 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.main-page__wallets-menu-wallet::before, .main-page__wallets-menu-add::before {
  content: "";
  display: block;
  width: 24px;
  aspect-ratio: 1/1;
  background: url(../assets/logo.svg) center/cover no-repeat;
}
.main-page__wallets-menu-wallet {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.main-page__wallets-menu-wallet.active {
  color: #6a6a6a;
}
.main-page__wallets-menu-wallet-name {
  flex: 1 1 auto;
  pointer-events: none;
}
.main-page__wallets-menu-add {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
}
.main-page__wallets-menu-add-text {
  flex: 1 1 auto;
  pointer-events: none;
}