@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #0f141b;
}

a,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 12px;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
.button_primary {
  background-color: #5dbd20;
}
.button_primary:hover {
  background-color: #08870c;
}
.button_primary:active {
  background-color: #0a9e0f;
}
.button_secondary {
  background-color: #2a2a2a;
}
.button_secondary:hover {
  background-color: #222222;
}
.button_secondary:active {
  background-color: #282828;
}

.container {
  margin: 0 auto;
  max-width: 576px;
  padding: 0 20px;
}

.main {
  margin: 0 auto;
  max-width: 576px;
}