.intro-page {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;
    padding: 140px 0 90px;
    box-sizing: border-box;
  }

  &__logo {
    position: relative;
    display: block;
    width: 280px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url(../assets/circles.svg) center / cover no-repeat;
    }

    &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      max-width: 100%;
      width: 100px;
      height: auto;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &__progress {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #fff;
  }

  &__title {
    margin: 0 0 6px;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #fff;
  }

  &__slogan {
    max-width: 246px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    text-align: center;
    color: #a0a8b2;
  }
}
