.intro-page {
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;
    padding: 140px 0 90px;
    box-sizing: border-box;

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      &-image {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__top,
  &__bottom {
    position: relative;
    z-index: 10;
  }

  &__logo {
    position: relative;
    display: block;
    width: 280px;
    aspect-ratio: 1 / 1;
    margin: 0 auto 16px;

    &-image {
      display: block;
      max-width: 100%;
      width: 280px;
      height: auto;
    }
  }

  &__progress {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #fff;
  }

  &__title {
    margin: 0 0 6px;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #fff;
  }

  &__slogan {
    max-width: 246px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    text-align: center;
    color: #a0a8b2;
  }
}
